<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_ID</key>
	<string>$(APP_ID)</string>
	<key>CLIENT_TOKEN</key>
	<string>$(CLIENT_TOKEN)</string>
	<key>DatadogTrackingSettings</key>
	<string>pending</string>
	<key>PLAYER_INFO_URL</key>
	<string>https://ubuntu-microk8s.curryware.org/java/players/getplayers</string>
</dict>
</plist>
